<footer>
  <div class="home-info pt-5 text-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-md-4">
          <h5 class="h3 text-uppercase text-center pt-3">LOCATION</h5>
          <p class="text-center mb-3">2215 John Daniel Drive</p>
          <p class="text-center mb-3">Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
          <h5 class="h3 text-uppercase text-center pt-3">AROUND THE WEB</h5>
          <div class="icons d-flex justify-content-center my-3">
            <i class="fa-brands fa-facebook mx-1 icon social-icon"></i>
            <i class="fa-brands fa-twitter mx-1 icon social-icon"></i>
            <i class="fa-brands fa-linkedin-in mx-1 icon social-icon"></i>
            <i class="fa-solid fa-globe mx-1 icon social-icon"></i>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="h3 text-uppercase text-center pt-3">ABOUT FREELANCER</h5>
          <p class="text-center">Freelance is a free to use, licensed</p>
          <p class="text-center">Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <p class="h5 text-center footerr my-0 p-3">Copyright © Gamal Ahmed 2024</p>
</footer>
