<section class="contact-main my-5 ">

   <div class="p-1"></div>
  <h1 class="text-uppercase pt-5 mt-5 text-center">portfolio component</h1>
  <div class="star d-flex justify-content-center align-items-center">
    <div class="line"></div>
    <i class="fa-solid fa-star text-center"></i>
    <div class="line"></div>
  </div>
  <div class="container w-50">
    <div class="my-form my-5 shadow p-5">

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="username"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Age"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="User email"
        />
      </div>
      <div class="mb-3">
        <input
          type="passowrd"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="password"
        />
      </div>
      <button type="button" class="btn my-btn">send message</button>
    </div>
  </div>
</section>
